/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
@font-face {
  font-family: 'DM Mono';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('DM Mono Regular'), local('DMMono-Regular'), url(https://fonts.gstatic.com/s/dmmono/v1/aFTU7PB1QTsUX8KYhh0.ttf) format('truetype');
}
@font-face {
  font-family: 'Modak';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Modak'), url(https://fonts.gstatic.com/s/modak/v5/EJRYQgs1XtIEsnMH.ttf) format('truetype');
}
html {
  box-sizing: border-box;
  font-size: 62.5%;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
/*variables*/
/*mixins*/
header {
  color: cyan;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
header nav {
  font-size: 2rem;
  padding: 1rem;
}
h2 {
  border: 1vw;
  padding: 1vw;
  font-weight: bold;
}
body {
  line-height: 1;
  background-color: #CD853F;
  width: 960px;
}
h1 {
  font-size: 3rem;
  font-family: 'DM Mono', monospace;
  /*this closes media*/
}
@media (max-width: 500px) {
  h1 {
    font-size: 1.5rem;
  }
}
/*this closes h1 */
h2,
h3 {
  font-size: 2.5rem;
  font-family: 'Modak', cursive;
}
.contact > div,
.contact > p {
  background-color: #00BFFF;
  font-family: 'Modak', cursive;
  padding: 1vw;
  border: 1vw;
}
.contact {
  display: flex;
  flex-wrap: wrap;
  justify-content: right;
  align-items: center;
}
.main-content {
  font-family: 'DM Mono', monospace;
  background-color: #00BFFF;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
p {
  padding: 1vw;
}
img {
  width: 300px;
  height: 250px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding: 1vw;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.main-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 1.5vw;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
